    @import '../../components/style-root/Style-root.css';
    .container {
        background-color: var(--back-default);
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }