@import '../style-root/Style-root.css';
main {
    background-color: var(--white);
    border-radius: var(--rads-medium);
    box-shadow: 0 1px 5px 0 rgba(92, 92, 94, 0.562);
    padding: 25px 35px;
    box-sizing: border-box;
}

.checkboxes {
    display: inline-flex;
    cursor: pointer;
    width: 23%;
    justify-content: space-between;
}

.checkbox {
    position: relative;
}

.check-name {
    font-size: 15px;
    vertical-align: top;
    color: var(--dark-gray);
    white-space: nowrap;
}

.checkbox>input {
    height: 18px;
    width: 18px;
    appearance: none;
    border: 1px solid var(--gray);
    border-radius: var(--rads-small);
    background-color: transparent;
    cursor: pointer;
}

.checkbox>span {
    padding: 0.3rem;
}

.checkbox>input:checked {
    border: 1px solid var(--darkred-webmotors);
    background-color: var(--white);
}

.checkbox>input:checked+span::before {
    content: '\2713';
    text-align: center;
    color: var(--darkred-webmotors);
    position: absolute;
    left: 5%;
    top: -2%;
}

fieldset {
    border: none;
}

.field-group {
    display: inline-grid;
    grid-template-columns: 45% 56%;
    margin: 20px auto 10px;
    gap: 1%;
    color: var(--dark-gray);
    width: 100%;
}

.field-city {
    display: inline-grid;
    grid-template-columns: 62% 30%;
}

select#city {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

select#distance {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.field-car {
    display: inline-grid;
    grid-template-columns: 46% 48%;
    gap: 2%;
}

select {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--gray);
    border-radius: var(--rads-medium);
    box-sizing: border-box;
    color: var(--gray);
    background: var(--white) no-repeat scroll;
}

.field-group2 {
    display: inline-flex;
    margin: 20px auto 10px;
    gap: 1%;
    color: var(--dark-gray);
    width: 100%;
}

.field-infos {
    display: inline-grid;
    grid-template-columns: 45% 45%;
    gap: 2%;
}

.field-version {
    width: 80%;
}

select:focus {
    color: var(--darker-gray);
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.search-filter {
    color: var(--red-webmotors);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    width: 50%;
}

.clean-search {
    color: var(--light-gray);
    margin-right: 30px;
    cursor: pointer;
    display: inline-block;
}

.search {
    display: block;
    margin: 0px 0px auto auto;
    width: 70%;
    height: 48px;
    background-color: var(--redbutton-webmotors);
    border: none;
    border-radius: var(--rads-big);
    text-align: center;
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
}

.search:hover {
    background-color: var(--darkred-webmotors);
    transition: background-color 0.2s;
}

@media (max-width: 933px) {
    main {
        width: 100%;
        height: auto;
    }
    .field-group {
        display: grid;
    }
    .field-group2 {
        display: grid;
    }
    select {
        width: 100%;
    }
    button {
        width: 75%;
    }
}

@media (max-width: 360px) {
    main {
        padding: 10px;
    }
    button {
        width: 100%;
        display: inline;
        margin: 15px auto;
    }
}