@import '../style-root/Style-root.css';
h5 {
    text-align: center;
    margin: 20px auto;
    color: var(--light-gray);
    font-size: 15px;
}

a {
    text-decoration-color: none;
    text-decoration-line: none;
    color: var(--darker-gray);
}

@media (max-width: 360px) {
    h5 {
        font-size: 13px;
    }
}